@model List<LiveBot.Core.Repository.Models.Discord.DiscordGuild>
@{
    ViewData["Title"] = "Guilds you can Manage";
}

<div class="container">
    <div class="row row-cols-4">
        @if (Model.Count() > 0)
        {
            @foreach (var guild in Model)
            {
                <div class="col">
                    <img class="img-fluid rounded-circle" src="@guild.IconUrl?size=64" alt="Guild Icon" />
                    @Html.ActionLink(guild.Name, "subscriptions", "guilds", new { id = guild.DiscordId }, new { @class = "btn btn-primary btn-lg", role = "button" })
                </div>
            }
        }
        else
        {
            <div class="col">
                Doesn't look like you have access to manage any Guilds that I'm in yet &#128557;
            </div>
        }
    </div>
</div>