@model DiscordStats
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h5 class="display-4">Information</h5>
        <p class="lead">
            This site is still under development.<br />
            For a list of commands and to invite the bot to your server, click "Documenation" at the top of the page.
        </p>
    </div>
</div>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Guild Count</h5>
                    <p class="card-text">@Model.DiscordGuildCount</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Subscriptions</h5>
                    <p class="card-text">@Model.SubscriptionCount</p>
                </div>
            </div>
        </div>
    </div>
</div>