@model DiscordStats
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>There are currently @Model.DiscordShardCount shards for the bot.</p>
    <p>Currently in @Model.DiscordGuildCount guilds.</p>
    <p>Total Stream Subscriptions: @Model.SubscriptionCount</p>
</div>